*.db
*wal
*shm
target/
*.sqlite

# Server
server/gen/
bin/

# Frontend
web/node_modules/
web/dist/

# Data
data/

# IDE
.vscode
.idea
*.swp
*.swo

# Misc
*.log
.DS_Store

user_dbs/

.tmp/
aab/

*.jks
# Local secrets
.env
.env.*
apple-signing/
*.p12
*.mobileprovision
*.certSigningRequest
