*.db
*wal
*shm
target/
*.sqlite

# Server
server/gen/
bin/

# Frontend
web/node_modules/
web/dist/
web/src/gen/

# Data
data/

# IDE
.vscode
.idea
*.swp
*.swo

# Misc
*.log
.DS_Store

user_dbs/

.tmp/

*.jks