opc ALL=(root) NOPASSWD:SETENV: \
  /opt/schlift/bin/install_schlift_service.sh, \
  /opt/schlift/bin/deploy_schlift_release.sh, \
  /opt/schlift/bin/setup-prod-env.sh, \
  /usr/bin/install, \
  /usr/bin/dnf, \
  /usr/bin/systemctl, \
  /usr/bin/journalctl
